.button {
  display: block;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.button:focus {
  background-color: red;
}

.button_black {
  background: black;
  color: white;
}
.button_black:hover {
  background: white;
  color: black;
}

.button_white_outline {
  background: white;
  border: 1px solid black;
  color: black;
}
.button_white_outline:hover {
  background: black;
  color: white;
}

.button_white {
  background: white;
  border: none;
  color: black;
}
.button_white:hover {
  background: black;
  color: white;
}
