.button {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.button:focus {
  background: #ff7f50;
}
.button:hover {
  background: gray;
}

.flex {
  display: flex;
  justify-content: center;
}
