.button_size {
  width: 100px;
  height: 50px;
  margin: 10px 20px;
}

.button_small {
  width: 50px;
  height: 50px;
  margin: 10px 20px;
}
.button_medium {
  width: 100px;
  height: 100px;
  margin: 10px 20px;
}
.button_large {
  width: 200px;
  height: 150px;
  margin: 10px 20px;
}

.button_submit {
  width: 50px;
  height: 25px;
}

.image {
  margin: 5px;
}

.flex {
  display: flex;
}
